<h1>Edit Review</h1>

<%= simple_form_for @review, :html => { :multipart => true } do |f| %>

	<%= f.select :category_id, @categories %>
	<%= f.file_field :book_img %>
	<%= f.input :headline %>
	<%= f.input :summary %>
	<%= f.input :link, label: "URL" %>
	<%= f.input :writer %>
	<%= f.button :submit, :class => 'btn-custom2' %>
<% end %>
